In [1]:
"praveen"

'praveen'

In [2]:
"praveen"

'praveen'

In [3]:
print("raju")

raju

In [4]:
print("1,2,3")

1,2,3

In [5]:
print('bhramhastra',2022)

bhramhastra 2022

In [6]:
#HOW TO REPRESENT THE MULTIPLE LINES
print('this is a line')
print('another line')
print('and the final text line')

this is a line
another line
and the final text line

In [7]:
#HOW to print variable
a=10
print(a)
b=20
c=50
print(b,c)

10
20 50

In [8]:
city='lucknow'
state='uttar pradesh'
name='adam'
name='randolf'

In [9]:
#how to take user input using input function
food=input()

In [10]:
#datatypes in python
# 1 integer, = 1-1001
# 2 float, = 1.23 , 7.3e10, .31
# 3 boolean, = True Flase
# 4 strings, = 'hello' "hello", '''hello''' mst impt
# 5 nontype= none
# DATA STRUCTURE:- 1 LIST, 2 SET, 3 TUPLES, 4 DICITINORY

In [11]:

a=101
type(a)

int

In [12]:
a='apple'
type(a)

str

In [13]:
a="300"
print(a,type(a))

300 <class 'str'>

In [16]:
a="300+"
print(a,type(a))
b=int(a)
a=int(a)
print(b,type(b))
print(a,type(a))

300+ <class 'str'>

ValueError: invalid literal for int() with base 10: '300+'

In [15]:
a=int(a)
print(b,type(b))
print(a,type(a))

300 <class 'int'>
300 <class 'int'>

In [17]:
a=input("entera=")
b=input("enterb=")
print(type(a),type(b))
a=int(a)
b=int(b)
print(a+b)

<class 'str'> <class 'str'>
83

In [18]:
num1=int(input("inter num"))
num2=int(input("enter num2"))
ans=num1*num2
print(ans)

16

# operators

1 arithmetic operators
2 assigment
3 comparison
4 logical
5 membership
6 instance
7 bitwise

In [19]:
# ARITHMETIC OPERATORS
x=10
y=3

In [20]:
x+y

13

In [21]:
x-y

7

In [22]:
x*y

30

In [23]:
x/y #float division

3.3333333333333335

In [24]:
x//y # integer division

3

In [25]:
x%y # remainder

1

In [26]:
x**y #exponential

1000

In [30]:
# ASSIGMENT OPERATORS
X=10
X+=5
x-=10
x*=3
print(x)

0

In [32]:
# comparison 
x>10
y<3

False

In [33]:
'apple'=='Apple'

False

In [34]:
'Apple'=='Apple'

True

In [35]:
# Logical
# and  or  not
x>5 and x>100

False

In [36]:
x>5 or x>1

False

In [37]:
not x>100

True

In [38]:
x is y # it is basicly use in data structure

False

In [39]:
x is not y

True

membership

In [41]:
a= [1,3,8,10,2]
2 in a
15 in a

False

# FORMATTED STRING AND MESSAGE

In [45]:
l=10.5
b=6.10
area = l*b
print("{}*{}={}".format(l,b,area))

10.5*6.1=64.05

In [46]:
l=10.5
b=6.10
area = l*b
print(f'{l}*{b}={area}')

10.5*6.1=64.05

In [47]:
l=10.5
b=6.10
area = l*b
print('{l}*{b}={area}')

{l}*{b}={area}

In [48]:
l=10.5
b=6.10
area = l*b
print(f'{l}*{b}={area}')
print(f'{l}*{b}={area:.1f}')

10.5*6.1=64.05
10.5*6.1=64.0