In [1]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

#LOOP'S

1 For loop       2 While loop
-iteration      - user input
-traversal      - condition based
num of steps    - num of steps
are known         you known

In [2]:
#Traversable

x= [0,2,1,3,6,10]
for i in x:
    print(i)

0
2
1
3
6
10

In [3]:
#EXAMPLE 2: TRAVERSAL(WITH CUSTOM MESSAGE)

colors =['red','pink','purple']

for val in colors:
      print(f'we got {val}')

we got red
we got pink
we got purple

In [4]:
x=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
for i in range(1,31):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [5]:
x=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
for i in range(1,31):
    print(i,end='ðŸ˜‚')

1ðŸ˜‚2ðŸ˜‚3ðŸ˜‚4ðŸ˜‚5ðŸ˜‚6ðŸ˜‚7ðŸ˜‚8ðŸ˜‚9ðŸ˜‚10ðŸ˜‚11ðŸ˜‚12ðŸ˜‚13ðŸ˜‚14ðŸ˜‚15ðŸ˜‚16ðŸ˜‚17ðŸ˜‚18ðŸ˜‚19ðŸ˜‚20ðŸ˜‚21ðŸ˜‚22ðŸ˜‚23ðŸ˜‚24ðŸ˜‚25ðŸ˜‚26ðŸ˜‚27ðŸ˜‚28ðŸ˜‚29ðŸ˜‚30ðŸ˜‚

In [6]:
for i in range(1,11):
    print(f'2 x {i} = {2*i}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

#\\\\
range(10)         | 0 - 9
range(5, 10)      | 5 - 9
range(1, 10, 2)   |1, 3, 5, 7, 9 
range(10, 0, -1)  | 10, 9, 8, 7, 6, 5, 4, 3,2,1
\\\\

In [8]:
for i in range(1,100,5):
    print(i,end=".")

1.6.11.16.21.26.31.36.41.46.51.56.61.66.71.76.81.86.91.96.

In [9]:
# reverse loop
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [10]:
veg = ['potatoðŸ¥”', 'tomatoðŸ…','onoinðŸ§…','cabbageðŸ¥¬','carrotðŸ¥•']
for item in veg:
    print(item)

potatoðŸ¥”
tomatoðŸ…
onoinðŸ§…
cabbageðŸ¥¬
carrotðŸ¥•

In [11]:
for item in enumerate(veg):
    print(item)

(0, 'potatoðŸ¥”')
(1, 'tomatoðŸ…')
(2, 'onoinðŸ§…')
(3, 'cabbageðŸ¥¬')
(4, 'carrotðŸ¥•')

In [12]:
for index , value in enumerate(veg):
    print(index,value)

0 potatoðŸ¥”
1 tomatoðŸ…
2 onoinðŸ§…
3 cabbageðŸ¥¬
4 carrotðŸ¥•

In [13]:
veg = ['potatoðŸ¥”', 'tomatoðŸ…','onoinðŸ§…','cabbageðŸ¥¬','carrotðŸ¥•']
prices = [35, 80, 30, 15, 30]

In [14]:
# non-pythonic
for i in range(len(veg)):
    print(f'{veg[i]} ------- ðŸ’µ{prices[i]}')

potatoðŸ¥” ------- ðŸ’µ35
tomatoðŸ… ------- ðŸ’µ80
onoinðŸ§… ------- ðŸ’µ30
cabbageðŸ¥¬ ------- ðŸ’µ15
carrotðŸ¥• ------- ðŸ’µ30

In [15]:
# pythonic
for v,p in zip(veg, prices):
    print(f'{v}-----ðŸ’µ{p}')

potatoðŸ¥”-----ðŸ’µ35
tomatoðŸ…-----ðŸ’µ80
onoinðŸ§…-----ðŸ’µ30
cabbageðŸ¥¬-----ðŸ’µ15
carrotðŸ¥•-----ðŸ’µ30

wap to print the following lists using zip
list1 contains movie title
list2 contains movie ratings
list3 contains movie year
list4 contains movie director

In [16]:
list1 = ['3 idiots', 'forest gump', 'inception','the godfather']
list2 = ['8.4', '8.8', '8.8', '9.2']
list3 = ['2009', '1994', '2010', '1972']
list4 = ['Rajkumar hirani', 'Robert zemeckis', 'Christopher nolan', 'Francis ford coppola']
for l1,l2,l3,l4 in zip(list1,list2,list3,list4):
    print(f'{l1},{l2},{l3},{l4}')

3 idiots,8.4,2009,Rajkumar hirani
forest gump,8.8,1994,Robert zemeckis
inception,8.8,2010,Christopher nolan
the godfather,9.2,1972,Francis ford coppola

# nested loop

In [17]:
for i in range(10):
    for i in range(10):
        print(i,end=" ")
    print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

# break and continuebreak and continue

In [18]:
x = [1,2,3,4,0,0,5]
for i in x:
    if i == 0:
        break
    print(i)

1
2
3
4

In [19]:
x = [1,2,0,3,4,0,0,5]
for i in x:
    if i == 0:
        continue
    print(i)

1
2
3
4
5

# for else

In [20]:
for i in x:
    if i!=0:
        print(i)

1
2
3
4
5

In [21]:
num = 19
for i in range(2, num):
    if num% i == 0:
        print('not prime')
        break
else: # else block will excuse only if the for loop is not broken
    print('prime')

prime

In [22]:
for num in range(1,100):
    if num == 1:
        continue
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [24]:
for i in range(5):
    print(i)
else:
    print ('done')

0
1
2
3
4
done

# while loop

In [26]:
x = 10 
while x>0:
    x-=2
    print(x)

8
6
4
2
0

In [28]:
total = 0
while True:
    num = int(input('enter a number'))
    if num == 0:
        break
    total += num
print(f'total is {total}')

total is 128

In [29]:
books = [] #empty list
while True:
    name = input('enter book name:')
    if name:
        books.append(name) # add item to list
    else:
        break
print('these are your books')
print(books)

these are your books
['harry potter', 'vampire dairies']